<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <center>Register Form</center>
    <form action="/register" method="post">
 <div class="container">
    <label for="name">Name :</label><br>
<input type="text" placeholder="Enter Name" name="name" required/> <br>
<label for="name">Email :</label><br>
<input type="text" placeholder="Enter email" name="email" required/> <br>
<label for="name">Username :</label><br>
<input type="text" placeholder="Enter username" name="username" required/> <br>
<label for="name">Password :</label><br>
<input type="text" placeholder="Enter password" name="password"  required/> <br>
<button type="submit">Register</button>
 </div>
    </form>
</body>
</html>